<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app="app" ng-controller="ctrl">
	<div class="main-links">
		<span id="links">
		    <a href="http://www.reddit.com"><img src="images/reddit.png" class="img-responsive" alt="reddit"></a>
		    <a href="https://www.facebook.com/messages"><img src="images/facebook.png" class="img-responsive" alt="facebook"></a>
		    <a href="https://gmail.com"><img src="images/gmail.png" class="img-responsive" alt="gmail"></a>
		    <a href="https://outlook.live.com/owa/"><img src="images/hotmail.png" class="img-responsive" alt="hotmail"></a>
		    <a href="https://www.youtube.com/"><img src="images/youtube.jpg" class="img-responsive" alt="youtube"></a>
		    <a href="https://www.netflix.com/browse"><img src="images/netflix.png" class="img-responsive" alt="netflix"></a>
		    <a href="https://www.freecodecamp.com"><img src="images/freecodecamp.png" class="img-responsive" alt="freecodecamp"></a>
		    <a href="https://www.google.ca/maps"><img src="images/maps.png" class="img-responsive" alt="google maps"></a>
		    <a href="https://moodle.uleth.ca"><img src="images/moodle.png" class="img-responsive" alt="moodle"></a>
		</span>
	</div>


	</br>


	<div class="row">

		<!-- Weather -->
		<div class="col-sm-6">
			<div class="weather panel panel-primary">
				<a ng-href="https://www.theweathernetwork.com/ca/weather/alberta/{{weather.name}}" target="_blank">
					<div class="panel-heading">
						<h1>{{weather.name}} Weather</h1>
						<a class="btn btn-info refresh-button" ng-click="getWeather()">Refresh</a>
					</div>
				</a>
				<div class="panel-body" style="text-align: center;">
					<h2>{{weather.main.temp}}&#176;C</h2>
					<h3>{{weather.weather[0].main}}</h3>
					<img ng-src="images/{{weather.weather[0].main}}.png" class="img-responsive"></img>
				</div>
			</div>
		</div>


		<!-- Map Quiz -->
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-body">
					<a id="finish-quiz-btn" class="btn btn-info refresh-button" ng-click="finishQuiz()">I have finished the quiz</a>
					<iframe id="quiz-iframe" ng-src="{{quizLink}}" width="100%" height="700px" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>


		<!-- Wiki -->
		<!--
		<div class="col-sm-6">
			<div class="wikipedia panel panel-primary">
				<a ng-href="https://en.wikipedia.org/?curid={{wiki.pageid}}" target="_blank">
					<div class="panel-heading">
						<h1>{{wiki.title}}</h1>
						<a class="btn btn-info refresh-button" ng-click="randomWiki()">New</a>
					</div>
				</a>
				<div class="panel-body">
					<img ng-show="images/wikiImageLoading" ng-src="loading.gif">
					<img id="images/wiki-img" ng-show="!wikiImageLoading" class="img-responsive" ng-src="{{wikiImage}}">
					<p ng-show="!wikiLoading">{{wiki.extract}}</p>
					<img ng-show="wikiLoading" ng-src="images/loading.gif">
				</div>
			</div>
		</div>
		-->
	</div>
</body>
</html>
